<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Misfit Questions" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row row_full_width white_bg">
    <div class="row">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
         <h1><a href="#">Misfit Test</a></h1>
       </li>
       <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="has-dropdown">
            <a href="#">PRODUCTS</a>
            <ul class="dropdown">
              <li><a href="#">item 1</a></li>
              <li><a href="#">item 2</a></li>
              <li><a href="#">item 3</a></li>
            </ul>
          </li>
          <li><a href="#">REVIEWS</a></li>
          <li><a href="#">STORE</a></li>
          <li><a href="#">SUPPORT</a></li>
        </ul>
        <ul class="center">
          <li><a href="#"><%= image_tag("misfit_logo.jpg", :size => '30x30') %></a></li>
        </ul>
        <ul class="right">
            <li><a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow"><span class="label alert">LOG OUT</span></a></li>
            <li><a href="<%= multiple_choice_questions_path %>">QUESTIONS</a></li>
            <li><a href="<%= technical_tests_path %>">TESTS</a></li>
        </ul>
      </section>
    </nav>
    </div>
    </div>

    <div class="row row_full_width white_bg">
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    </div>

    <div id="footer">
      <div id="misfit_subscribe">
        <div class="row row_full_width black_bg">
          <div class="row">
            <div class="small-6 columns">
              <div class="row">
                WHAT WILL WE DO <strong>NEXT?</strong>
              </div>
              <div class="row">
                Be the first to get updates and new offers.
              </div>
            </div>
            <div class="small-6 columns">
                <form>
                <div class="row collapse">
                  <div class="large-9 columns">
                    <i class="fa fa-envelope email_icon"></i>
                    <input type="text" placeholder="Your Email Address">
                  </div>
                  <div class="large-3 columns">
                    <button class="postfix">SUBSCRIBE</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row row_full_width white_bg">
        <div class="row"> 
          <nav class="top-bar" data-topbar>
           <section class="top-bar-section">
            <ul class="left">
              <li><a href="#">INFOGRAPHICS</a></li>
              <li><a href="#">MISFITOPIA</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">TEAM</a></li>
              <li><a href="#">MEDIA</a></li>
              <li><a href="#">JOBS</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
            <ul class="right">
              <li><a href="#"><%= image_tag("fb.png", :size => '8x8') %></a></li>
              <li><a href="#"><%= image_tag("twitter.png", :size => '18x18') %></a></li>
              <li><a href="#"><%= image_tag("pinterest.png", :size => '18x18') %></a></li>
              <li><a href="#"><%= image_tag("google.png", :size => '18x18') %></a></li>
            </ul>
           </section>
          </nav>
        </div>
      </div>
      <div id="misfit_description">
        <div class="row">
          <div class="small-12 columns">
            <p><strong>Misfit Wearables</strong><span class="light_font"> 839 Mitten Road, Suite 100, Burlingame, CA 94010</span><br/>
            <span class="light_font">&copy; Copyright Misfit Wearables. All Rights Reserved. Terms of Use | Privacy Policy<br/>Apple, the Apple logo, iPhone and iPod touch are trademarks of Apple Inc.,<br/>registered in the U.S and other countries. App Store is a service mark of Apple Inc.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <%= content_for?(:cssname) ? yield(:cssname) : "" %>
    <%= content_for?(:jsname) ? yield(:jsname) : "" %>
  </body>
</html>